@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?b014l1');
  src:  url('fonts/icomoon.eot?b014l1#iefix') format('embedded-opentype'),
    url('fonts/icomoon.woff2?b014l1') format('woff2'),
    url('fonts/icomoon.ttf?b014l1') format('truetype'),
    url('fonts/icomoon.woff?b014l1') format('woff'),
    url('fonts/icomoon.svg?b014l1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pil-cirkel:before {
  content: "\e920";
  color: #fecc32;
}
.icon-play:before {
  content: "\e921";
  color: #fecc32;
}
.icon-citat1:before {
  content: "\e91f";
  color: #ffcd0b;
}
.icon-twitter:before {
  content: "\e91a";
}
.icon-citat:before {
  content: "\e91b";
  color: #ffcd0b;
}
.icon-facebook:before {
  content: "\e91c";
}
.icon-instagram:before {
  content: "\e91d";
}
.icon-linkedin:before {
  content: "\e91e";
}
.icon-pil-gul-rund .path1:before {
  content: "\e918";
  color: rgb(77, 89, 97);
}
.icon-pil-gul-rund .path2:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(255, 205, 11);
}
.icon-Blues-BbH-Logo_aftryk:before {
  content: "\e917";
  color: #4c5c64;
}
.icon-coffee:before {
  content: "\e900";
}
.icon-coffee-beans:before {
  content: "\e901";
}
.icon-coffee-cup:before {
  content: "\e902";
}
.icon-pil-blaa:before {
  content: "\e911";
  color: #4c5c64;
}
.icon-pil-down-gul:before {
  content: "\e912";
  color: #ffcd0b;
}
.icon-pil-gul:before {
  content: "\e913";
  color: #ffcd0b;
}
.icon-icon_arrow-down:before {
  content: "\e903";
}
.icon-icon_arrow-dropdown:before {
  content: "\e904";
}
.icon-icon_arrow-left:before {
  content: "\e905";
}
.icon-icon_arrow-right:before {
  content: "\e906";
}
.icon-icon_arrow-right-long:before {
  content: "\e907";
}
.icon-icon_arrow-up:before {
  content: "\e908";
}
.icon-icon_bbh:before {
  content: "\e909";
}
.icon-icon_envelope:before {
  content: "\e90a";
}
.icon-icon_facebook-f:before {
  content: "\e90b";
}
.icon-icon_facebook-square:before {
  content: "\e90c";
}
.icon-icon_instagram:before {
  content: "\e90d";
}
.icon-icon_linkedin:before {
  content: "\e90e";
}
.icon-icon_pencil:before {
  content: "\e90f";
}
.icon-icon_phone:before {
  content: "\e910";
}
.icon-icon_play:before {
  content: "\e914";
}
.icon-icon_quote:before {
  content: "\e915";
}
.icon-icon_trustpilot:before {
  content: "\e916";
}
