
.main-navigation{
    height: 85px;
    //padding-top: 22px;
    position: fixed;
    width: 100%;
    box-shadow: 0 5px 10px 0 rgb(44 53 81 / 10%), 0 10px 40px 0 rgb(44 53 81 / 7%);
    .navigation-branding{
        img{
            width: 165px;
            height: 70px;
            object-fit: contain;
        }
    }
    .main-nav{
        ul{
            li{
                a{
                    font: normal normal 600 1rem/24px Raleway;
                    color: #242424;
                    text-decoration: none;
                    padding-left: 15px;
                    padding-right: 15px;
                    &:hover{
                        background-color: transparent;
                        text-decoration: underline;
                        text-decoration-color: #ffcd0b;
                    }
                }
            }
            li[class*="current-menu-"] > a{
                background-color: transparent;

            }
            li:not([class*="current-menu-"]):hover > a{
                background-color: transparent;
            }
        }
    }
    .inside-navigation{
        height: 100%;
    }
    .primary-button{
        order:5;
        margin-left: 20px;
    }
}
