
.main-navigation{
    height: 100px;
    //padding-top: 22px;
    position: fixed;
    width: 100%;
    box-shadow: 0 10px 40px 0 rgb(44 53 81 / 7%);
    .navigation-branding{
        img{
            width: 210px;
            height: 97px;
        }
    }
    .main-nav{
        ul{
            li{
                a{
                    font: normal normal bold 1.25rem/24px Raleway;
                    text-decoration: none;
                    &:hover{
                        background-color: transparent;
                        text-decoration: underline;
                        text-decoration-color: #ffcd0b;
                    }
                }
            }
            li[class*="current-menu-"] > a{
                background-color: transparent;

            }
            li:not([class*="current-menu-"]):hover > a{
                background-color: transparent;
            }
        }
    }
    .primary-button{
        order:5;
    }
}
