/*------------ RESPONSIVE ------------*/

/*-Desktop (iMac) 1450px-*/
@media screen and (max-width: 1450px) {

} //1450 end

// @media only screen and (max-width: 1366px){
// 	:root {
// 	  font-size: calc(1vw + 1vh + .5vmin);
// 	}
// 	h1{
// 		font-size: 2.5rem;
// 		font-weight: 700;
// 		font-family: Kadwa;
// 	}
// 	h2{
// 		font-size: 1.75rem;
// 		font-weight: 700;
// 		font-family: Kadwa;
// 	}
// 	h3{
// 		font-size: 1.3rem;
// 		font-weight: 700;
// 		font-family: Raleway;
// 	}
// 	h4{
// 		font-size: 1.25rem;
// 		font-weight: 700;
// 		font-family: Raleway;
// 	}
// }

/*-Desktop (Laptop) 1375px-*/
@media screen and (max-width: 1375px) {
    h1{
		font-size: 2.5rem;
		font-weight: 700;
		font-family: Kadwa;
	}
	h2{
		font-size: 1.75rem;
		font-weight: 700;
		font-family: Kadwa;
	}
	h3{
		font-size: 1.3rem;
		font-weight: 700;
		font-family: Raleway;
	}
	h4{
		font-size: 1.25rem;
		font-weight: 700;
		font-family: Raleway;
	}
    p{
        font-size: 1rem;
		font-weight: 500;
		font-family: Raleway;
    }
    body .grid-container{
        max-width: 1040px;
    }
    /*----------  Header section  ----------*/
    .home{
    	.header-section{
    		height: 667px;
    		.content{
    		}
    	}
    }
    .header-section{
    	.content{
    		.row{
    			display: flex;
    			align-items: center;
    			.highlight {
    			  background: #ffcd0b;
    			}
    			img{
                    width: 436px;
                    height: 352px;
    				object-fit: cover;
    			}
    		}
    	}

    	&.img_right{

    	}
    }
    /*----------  3 col fingerprint cards  ----------*/
    .col3-fingerprint{
        margin-top: -100px;
        .grid-inner-container{
            gap: 30px 42px;
            .card-container{
                .card{
                    width: 292px;
                    height: 300px;
                    padding: 25px 25px;
                    img{
                        width: 108px;
                        height: 116px;
                    }
                    i{
                        font-size: 5rem;
                    }
                    .text{
                        overflow: hidden;
                    }
                }
            }
        }
    }
} //1200 end


/*-Desktop (Macbook) 1200px-*/
@media screen and (max-width: 1200px) {

} //1200 end

/*-Desktop (Macbook) 1050px-*/
@media screen and (max-width: 1050px) {

} //1050 end

/*-Tablet (Orientation: landscape) 1024px-*/
@media screen and (max-width: 1024px) {

} //1024 end

/*-Tablet (Orientation: landscape) 992-*/
@media screen and (max-width: 992px) {

} //992 end

/*-Tablet (Orientation: portrait) 768px-*/
@media screen and (max-width: 768px) {

} //768 end

/*-Smartphone (Samsung S6: landscape) 640px-*/
@media screen and (max-width: 640px) {

} //640 end

/*-Smartphone (iPhone 4: landscape) 480px-*/
@media screen and (max-width: 480px) {

} //480 end

/*-Smartphone (Big/newer smartphones) 425px-*/
@media screen and (max-width: 425px) {

} //425 end

/*-Smartphone (Samsung S6: portrait) 360px-*/
@media screen and (max-width: 360px) {

} //360 end

/*-Smartphone (iphone 5: portrait) 320px-*/
@media screen and (max-width: 320px) {

} //320 end
