/*------------ RESPONSIVE ------------*/

/*-Desktop (iMac) 1450px-*/
@media screen and (max-width: 1450px) {

} //1450 end

// @media only screen and (max-width: 1366px){
// 	:root {
// 	  font-size: calc(1vw + 1vh + .5vmin);
// 	}
// 	h1{
// 		font-size: 2.5rem;
// 		font-weight: 700;
// 		font-family: Kadwa;
// 	}
// 	h2{
// 		font-size: 1.75rem;
// 		font-weight: 700;
// 		font-family: Kadwa;
// 	}
// 	h3{
// 		font-size: 1.3rem;
// 		font-weight: 700;
// 		font-family: Raleway;
// 	}
// 	h4{
// 		font-size: 1.25rem;
// 		font-weight: 700;
// 		font-family: Raleway;
// 	}
// }

/*-Desktop (Laptop) 1375px-*/
@media screen and (max-width: 1375px) {
    h1{
		font-size: 2.5rem;
		font-weight: 700;
		font-family: Kadwa;
	}
	h2{
		font-size: 1.75rem;
		font-weight: 700;
		font-family: Kadwa;
	}
	h3{
		font-size: 1.3rem;
		font-weight: 700;
		font-family: Raleway;
	}
	h4{
		font-size: 1.25rem;
		font-weight: 700;
		font-family: Raleway;
	}
    p{
        font-size: 1rem;
		font-weight: 500;
		font-family: Raleway;
    }
    body .grid-container{
        max-width: 1040px;
        padding: 50px 40px;
    }
    /*----------  Header section  ----------*/
    .home{
    	.header-section{
    		height: 667px;
    		.content{
    		}
    	}
    }
    .header-section{
    	.content{
    		.row{
    			display: flex;
    			align-items: center;
    			.highlight {
    			  background: #ffcd0b;
    			}
    			img{
                    width: 436px;
                    height: 352px;
    				object-fit: cover;
    			}
    		}
    	}

    	&.img_right{

    	}
    }
    /*----------  3 col fingerprint cards  ----------*/
    .col3-fingerprint{
        margin-top: -100px;
        .grid-inner-container{
            gap: 30px 42px;
            .card-container{
                .card{
                    width: 292px;
                    height: 300px;
                    padding: 25px 25px;
                    img{
                        width: 108px;
                        height: 116px;
                    }
                    i{
                        font-size: 5rem;
                    }
                    .text{
                        overflow: hidden;
                    }
                }
            }
        }
    }
    .popular{
        .grid-container-full{
            padding-left: 40px;
            max-width: 1200px;
        }
    }
    .mini-card-container{
        grid-template-columns: repeat(2, 1fr);
    	.mini-card{
            width: 341px;
            height: 435px;
    		img{
    			height: 181px;
    		}
    		.mini-card-inner{
    			span{
    				font: normal normal 500 0.8rem/21px Raleway;
    			}
    			h4{
    				font: normal normal 800 1.25rem/20px Raleway;
    			}
    			.reading-time{
    				font: normal normal 500 0.8rem/21px Raleway;
    			}
    			.author-row{
    				img{
                        width: 48px;
                        height: 48px;
    				}
    				span{
    					font: normal normal 500 0.8rem/21px Raleway;
    				}
    			}
    		}
    	}
    }
    .col3-posts{
    	.col3-container{
            grid-template-columns: repeat(2, 1fr);
            .mini-card{
                width: 341px;
                height: 435px;
                img{
                    height: 181px;
                }
                .mini-card-inner{
                    span{
                        font: normal normal 500 0.8rem/21px Raleway;
                    }
                    h4{
                        font: normal normal 800 1.25rem/20px Raleway;
                    }
                    .reading-time{
                        font: normal normal 500 0.8rem/21px Raleway;
                    }
                    .author-row{
                        img{
                            width: 48px;
                            height: 48px;
                        }
                        span{
                            font: normal normal 500 0.8rem/21px Raleway;
                        }
                    }
                }
            }
    	}
    }
} //1375 end


/*-Desktop (Macbook) 1200px-*/
@media screen and (max-width: 1200px) {

} //1200 end

/*-Desktop (Macbook) 1050px-*/
@media screen and (max-width: 1050px) {
    .flexible-inner-section{
        padding: 50px 25px;
    }
    body .grid-container{
        padding:50px 25px;
    }
    .col3-fingerprint{
        padding: 0px 25px 50px 25px;
    }
    .popular .grid-container-full{
        padding-left: 25px;
    }

} //1050 end

/*-Tablet (Orientation: landscape) 1024px-*/
@media screen and (max-width: 1024px) {

} //1024 end

/*-Tablet (Orientation: landscape) 992-*/
@media screen and (max-width: 992px) {
    .home .header-section {
        height:550px;
    }
    .header-section{
        .content{
            .row{
                flex-wrap: nowrap;
                .highlight {
                  background: #ffcd0b;
                }
                img{
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }
        }

        &.img_right{

        }
    }
    .col3-fingerprint{
    	margin-top:0;
    	padding: 0px 25px 50px 25px;
    	.grid-inner-container{
    		display: grid;
    		grid-template-rows: 1fr;
    		grid-template-columns: repeat(1, 1fr);
    		gap: 30px 37px;
            place-items: center center;
    		.card-container{
    			&:nth-child(1){
    				i{
    					&:before{
    						color:#72808a59;
    					}
    				}
    			}
    			&:nth-child(2){
    				i{
    					&:before{
    						color:#BAA995;
    					}
    				}
    			}
    			&:nth-child(3){
    				i{
    					&:before{
    						color:#ffcd0b;
    					}
    				}
    			}
    			.card{
    				width: 400px;
    				height: 420px;
    				display: flex;
    				flex-direction: column;
    				box-shadow: 0px 5px 10px #0000004D;
    				border-radius: 10px;
    				background: #FFFFFF 0% 0% no-repeat padding-box;
    				justify-content: center;
    				text-align: center;
    				padding: 40px 50px;
    				img{
    					width: 108px;
    					height: 116px;
    				}
    				i{
    					font-size: 8rem;
    				}
    				h3{
    					margin-top: 5px;
    				}
    			}
    		}
    	}
    }
} //992 end

/*-Tablet (Orientation: portrait) 768px-*/
@media screen and (max-width: 768px) {

} //768 end

/*-Smartphone (Samsung S6: landscape) 640px-*/
@media screen and (max-width: 640px) {

} //640 end

/*-Smartphone (iPhone 4: landscape) 480px-*/
@media screen and (max-width: 480px) {

} //480 end

/*-Smartphone (Big/newer smartphones) 425px-*/
@media screen and (max-width: 425px) {

} //425 end

/*-Smartphone (Samsung S6: portrait) 360px-*/
@media screen and (max-width: 360px) {

} //360 end

/*-Smartphone (iphone 5: portrait) 320px-*/
@media screen and (max-width: 320px) {

} //320 end
